:root {
  --logo-color:#90EE90;
}

.bolded {
  color: var(--logo-color)
}

.title {
  white-space: nowrap;
  font-size: 90%;
}
 
.container {
  position: relative;
  text-align: center;
  color: white;
  max-height: 600px;
}

.total {
  display: flex;
  max-width: 100%;
}
.carousel {
  position:absolute;
  top:0%;
  left:0%;
  z-index: 1;
}

.bottom-right {
  position: absolute;
  font-size: large;
  bottom: 32px;
  right: 64px;
}


/* CSS inspired by: https://github.com/ntamas/react-cover-page. */

.cover-image-1 {
  background-image: url('.././static/g1.jpg');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.cover-image-2 {
  background-image: url('.././static/g2.jpg');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.cover-image-3 {
  background-image: url('.././static/g3.jpg');
  background-size: contain;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.centered-card{
  display: block;
  max-width: 60%;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 2;
}
/* .centered-card {
  position: absolute;
  width: 600px;
  height: 500px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
} */
