.storecard {
    border-radius: 10px;
    padding: 20px;
    transition: transform .2s ease-out;
}

.storecard:hover {
    transform: translate(0, -5px);
}

.storecardImage {
    height: 15rem;
}

.cropped-image {
	/* display: block; */
	/* min-width: 270px;
	min-height: 350px; */
	object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}